body {
    background-color: #f7f7f7 !important;
}

textarea {
    overflow: hidden;
}

.app_vue {
    .container-xl {
        padding: 0 !important;
        max-width: 100% !important;
    }

    .container {
        max-width: 1140px !important;
    }
}

.login_register {
    .container-fluid {
        .row {
            margin: 0 !important;

            .custom-control-input {
                height: 17px;
                width: 30px !important;
            }
        }
    }
}

.navbar_home {
    .navbar {
        padding: 0;

        .btn-logout:hover {
            color: blue !important;
        }

        .navbar_menu {
            margin-right: 30px;
            position: relative;

            &:hover .border_link {
                display: block;
            }

            .border_link {
                width: 100%;
                position: absolute;
                height: 4px;
                background: white !important;
                bottom: 0;
                left: 0;
                display: none;
            }
        }
    }

    .bg-main {
        background-color: #091e42f2;
    }
}

.translate {
    .translate-body {
        margin: 10px 0;
    }

    .result {
        min-height: 100px;
    }

    .custom-search {
        height: 50px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 24px;
        overflow: hidden;

        .search-input {
            width: 100%;
            height: 100%;
            font-size: 18px;
            padding: 0 220px 4px 24px;
            color: #333;
            border: none;
            outline: none;
            appearance: none;
            background-color: #fff;

            &:focus {
                background-color: #fff;
            }
        }

        .right-custom-search {
            position: absolute;
            right: 0;
            top: 0;

            button {
                border: none;
                width: 100px;
                height: 50px;
                background-color: #091e42f2;
                color: #fff;
            }
        }
    }

    .search_data {
        background-color: #fff;
        border-radius: 9px;
        padding: 40px;

        //   min-height: 500px;
        .title {
            color: #e13a33;
            font-size: 1.5rem;
            font-weight: 500;
            min-height: 40px;
        }

        .search_content {
            margin-top: 12px;
            position: relative;
            background-color: #fff;

            .icon-dot {
                position: absolute;
                top: 3px;
                color: #707070;
                font-size: 0.9rem;
            }

            .box_mean {
                margin-left: 25px;
            }
        }

        .search_content .bonx_mean .bonx_mea-language,
        .bonx_mea-description,
        .bonx_mea-translate {
            color: #363636;
        }

        .search_content button:hover {
            color: #53b5fc;
            cursor: pointer;
        }
    }

    .language {
        margin-right: 10px;
        color: #000;
        width: 150px;
        font-size: 1rem;

        label {
            display: inline-block;
            width: 100%;
            margin-bottom: 0 !important;
        }
    }

    .btn-keyboard i {
        cursor: pointer;
        color: #091e42f2;
        font-size: 35px;
        position: absolute;
        right: 120px;
        top: 5px;
    }

    .result:hover {
        border: 1px solid #53b5fc;
        transition: all 0.4ms;
        cursor: pointer;
    }

    .box_mean-description {
        color: #091e42f2;
    }
}

.all_languages_word {
    .row {
        .custom-select {
            padding-right: 25px;
        }

        .page-item.active .page-link {
            background: #252b3b;

            &:hover {
                background: #4b5a83;
            }
        }

        #datatable {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;

            .btn-actions {
                background: #252b3b;
                color: #fff;

                &:hover {
                    background: #4b5a83;
                }
            }
        }


    }
}

/* Phân trang */
.dataTables_paginate .paginate_button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 6px 12px;
    line-height: 1.42857143;
    border-radius: 4px;
    color: #337ab7;
    background-color: #fff;
    margin-left: -1px;
}

.dataTables_paginate .paginate_button.active {
    z-index: 3;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.dataTables_paginate .paginate_button.disabled {
    cursor: default;
    color: #777;
    background-color: #fff;
    border-color: #ddd;
}

/* Thanh search */
.dataTables_filter {
    margin-bottom: 10px;
}

.dataTables_filter label {
    font-weight: normal;
}

.dataTables_filter input[type="search"] {
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.dataTables_filter input[type="search"]:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}