body {
  background-color: #f7f7f7 !important;
}

textarea {
  overflow: hidden;
}

.app_vue .container-xl {
  padding: 0 !important;
  max-width: 100% !important;
}
.app_vue .container {
  max-width: 1140px !important;
}

.login_register .container-fluid .row {
  margin: 0 !important;
}
.login_register .container-fluid .row .custom-control-input {
  height: 17px;
  width: 30px !important;
}

.navbar_home .navbar {
  padding: 0;
}
.navbar_home .navbar .btn-logout:hover {
  color: blue !important;
}
.navbar_home .navbar .navbar_menu {
  margin-right: 30px;
  position: relative;
}
.navbar_home .navbar .navbar_menu:hover .border_link {
  display: block;
}
.navbar_home .navbar .navbar_menu .border_link {
  width: 100%;
  position: absolute;
  height: 4px;
  background: white !important;
  bottom: 0;
  left: 0;
  display: none;
}
.navbar_home .bg-main {
  background-color: rgba(9, 30, 66, 0.9490196078);
}

.translate .translate-body {
  margin: 10px 0;
}
.translate .result {
  min-height: 100px;
}
.translate .custom-search {
  height: 50px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 24px;
  overflow: hidden;
}
.translate .custom-search .search-input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 0 220px 4px 24px;
  color: #333;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
}
.translate .custom-search .search-input:focus {
  background-color: #fff;
}
.translate .custom-search .right-custom-search {
  position: absolute;
  right: 0;
  top: 0;
}
.translate .custom-search .right-custom-search button {
  border: none;
  width: 100px;
  height: 50px;
  background-color: rgba(9, 30, 66, 0.9490196078);
  color: #fff;
}
.translate .search_data {
  background-color: #fff;
  border-radius: 9px;
  padding: 40px;
}
.translate .search_data .title {
  color: #e13a33;
  font-size: 1.5rem;
  font-weight: 500;
  min-height: 40px;
}
.translate .search_data .search_content {
  margin-top: 12px;
  position: relative;
  background-color: #fff;
}
.translate .search_data .search_content .icon-dot {
  position: absolute;
  top: 3px;
  color: #707070;
  font-size: 0.9rem;
}
.translate .search_data .search_content .box_mean {
  margin-left: 25px;
}
.translate .search_data .search_content .bonx_mean .bonx_mea-language,
.translate .search_data .bonx_mea-description,
.translate .search_data .bonx_mea-translate {
  color: #363636;
}
.translate .search_data .search_content button:hover {
  color: #53b5fc;
  cursor: pointer;
}
.translate .language {
  margin-right: 10px;
  color: #000;
  width: 150px;
  font-size: 1rem;
}
.translate .language label {
  display: inline-block;
  width: 100%;
  margin-bottom: 0 !important;
}
.translate .btn-keyboard i {
  cursor: pointer;
  color: rgba(9, 30, 66, 0.9490196078);
  font-size: 35px;
  position: absolute;
  right: 120px;
  top: 5px;
}
.translate .result:hover {
  border: 1px solid #53b5fc;
  transition: all 0.4ms;
  cursor: pointer;
}
.translate .box_mean-description {
  color: rgba(9, 30, 66, 0.9490196078);
}

.all_languages_word .row .custom-select {
  padding-right: 25px;
}
.all_languages_word .row .page-item.active .page-link {
  background: #252b3b;
}
.all_languages_word .row .page-item.active .page-link:hover {
  background: #4b5a83;
}
.all_languages_word .row #datatable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.all_languages_word .row #datatable .btn-actions {
  background: #252b3b;
  color: #fff;
}
.all_languages_word .row #datatable .btn-actions:hover {
  background: #4b5a83;
}

.add-edit-language .card {
  width: initial;
}
.add-edit-language .card form {
  width: 700px;
}
.add-edit-language .card form .btn-add-edit {
  background: #252b3b;
  color: #fff;
}
.add-edit-language .card form .btn-add-edit:hover {
  background: #4b5a83;
}
